</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% 
  var day =new Date();
  var year=day.getFullYear(); 
  %>
  <p>Copyright © <%= year %>hello</p>
</footer>
</body>

</html>